<div class="last-section py-5  text-white">
  <div class="icons d-flex justify-content-center py-2">
    <div class="instgram mx-2"><i class="fa-brands fa-instagram"></i></div>
    <div class="facebook mx-2"><i class="fa-brands fa-facebook"></i></div>
  </div>
  <p class="text-center text-white">COOK ALONE WITH US</p>
  <div class="py-4">
    <p class="text-center">© Blue Aprom , LLC 2023</p>
    <div class="d-flex justify-content-center">
      <a href="">Privacy</a>
      <a href="">Terms</a>
      <a href="">Do Not "Sell" Myy Info</a>
    </div>
  </div>
  <p class="text-center">If your are using a screen reader and are having problens using this website , please call 1-844-462-8299 for assistance> </p>
  <h2 class="text-center">Blue Apron</h2>
</div>
