<div class="second-sec py-4">
  <h4 class="second-title w-100 text-center py-2">HOW BLUE APRON WORKS</h4>


  <div class="container">
    <div class="row">
      <div class="col-md-4  text-center">
        <div>
          <div class="icon py-2 my-3  w-100">
            <i class="fa-solid fa-box-open fa-bounce "></i>

          </div>
            <h4 class="text-uppercase">Recieve your ingredients</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quae in voluptatum esse ut aperiam. tatum esse ut aperiam</p>
        </div>
      </div>
      <div class="col-md-4  text-center">
        <div>
          <div class="icon py-2 my-3  w-100">
            <i class="fa-solid fa-list-squares fa-shake"></i>

          </div>
            <h4 class="text-uppercase">Choose your meals</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quae in voluptatum esse ut aperiam. um quae in voluptatum esse ut aperiam . Cum quae in voluptatum esse ut aperiam. um quae in voluptatum esse ut aperiam</p>
        </div>
      </div>
      <div class="col-md-4  text-center">
        <div>
          <div class="icon py-2 my-3  w-100">
            <i class="fa-solid fa-utensils fa-flip"></i>

          </div>
            <h4 class="text-uppercase">Enjoy incredible dinners</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quae in voluptatum esse ut aperiam. um quae in voluptatum esse ut aperiam um quae in voluptatum esse ut aperiam</p>
        </div>
      </div>
    </div>

  </div>
</div>

