<h3 class="w-100 text-center py-2">Blue Apron</h3>
  <div class="main-title w-100">
    <div class="layer w-100 h-100">
      <h1 class="text-center py-5 text-white">
        FOR ALL
        <br />
        the ways you eat
      </h1>

      <div class="d-flex justify-content-center py-5">
        <button class="btn btn-info py-2 px-5 text-white">GET COOKING</button>
      </div>
    </div>
  </div>

  <div
    class="description d-flex justify-content-center px-md-5 px-sm-1 w-75 m-auto text-center py-4"
  >
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, ea quos
      aliquid exercitationem soluta consectetur tempora blanditiis itaque
      assumenda iusto repellat! Nulla, quibusdam. Repellat dolorum, quod,
      architecto accusamus qui doloribus magnam odit iste nostrum eius quisquam
      animi reiciendis consectetur harum sunt unde sint velit distinctio
      laboriosam. Facere ducimus dicta esse.
    </p>
  </div>
