<div class="third-sec py-4">
  <h4 class="third-title w-100 text-center py-2">WHY YOU'LL LOVE COOKING WITH US ?</h4>



  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="w-100 h-100 px-3">
          <img [src]="imgOne" class="w-100 h-100" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="w-100 h-100 d-flex justify-content-center text-center flex-column">
          <h4>A PLAN THAT WORKS FOR YOU</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nihil, reprehenderit impedit at quaerat commodi, quos quidem obcaecati labore ipsum sequi iusto velit, cupiditate natus..</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="w-100 h-100 px-3">
          <img [src]="imgTwo" class="w-100 h-100" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="w-100 h-100 d-flex justify-content-center text-center flex-column">
          <h4>EATING MADE EASY</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nihil, reprehenderit impedit at quaerat commodi, quos quidem obcaecati labore ipsum sequi iusto velit, cupiditate natus..</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="w-100 h-100 px-3">
          <img [src]="imgThree" class="w-100 h-100" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="w-100 h-100 d-flex justify-content-center text-center flex-column">
          <h4>DONT SACRIFICE FLAVOR</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nihil, reprehenderit impedit at quaerat commodi, quos quidem obcaecati labore ipsum sequi iusto velit, cupiditate natus..</p>
        </div>
      </div>

    </div>
  </div>
</div>
