.fourth-section{
  background-image: url(../../assets/images/pexels-chan-walrus-958545.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
}
span{
  color: rgb(40, 40, 178) !important;
}
